/porosity/porosity/Debug/*.obj
/porosity-private
/porosity/packages/boost-vc140.1.63.0.0
boost.1.63.0.0
.cache
.vscode
*.o
/porosity/macos/Build
porosity/packages/
porosity/porosity/x64/
porosity/x64/
*.user
porosity/porosity.VC.db
porosity/.vs/
